
<main class="vlt-main">
    <!--Page Title-->
    <section class="jarallax">
        <img class="jarallax-img" src="~/assets/img/attachment-79.jpg" alt="">
        <div class="vlt-gap-170"></div>
        <div class="container">
            <!--Large Heading-->
            <h1 class="vlt-large-heading text-center" style="color:#fff;">
                о н<span>а</span>с
            </h1>
        </div>
        <div class="vlt-gap-170"></div>
    </section>
    <!--About Us 01-->
    <section class="position-relative overflow-hidden">
        <!--Particle-->
        <div class="vlt-particle" data-jarallax-element="-100 0" style="top: -30px; right: -40px; max-width: 250px;"><img src="~/assets/img/root/particle-01--black.png" alt=""></div>
        <div class="vlt-gap-120"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-5 offset-md-1">
                    <!--Animation Block-->
                    <div class="vlt-animation-block" data-aos="fade" data-aos-delay="0">
                        <!--Section Title-->
                        <div class="vlt-section-title text-left">
                            <h2>
                                поиск учебных заведений
                            </h2>
                        </div>
                    </div>
                    <div class="vlt-gap-60--sm"></div>
                </div>
                <div class="col-md-5">
                    <!--Animation Block-->
                    <div class="vlt-animation-block" data-aos="fade" data-aos-delay="100">
                        <p>Мы стремимся помочь студентам и их родителям найти идеальное учебное заведение для получения высшего образования. Наша платформа предоставляет обширную информацию о различных университетах, колледжах, институтах и других образовательных учреждениях.</p>
                        <p>Мы предлагаем простой и удобный поиск учебных программ, специализаций, курсов и других образовательных возможностей. Наши рекомендации основаны на ваших интересах, предпочтениях и академических целях.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="vlt-gap-120"></div>
    </section>
    <!--Services 04-->
    <section>
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <!--Animation Block-->
                    <div class="vlt-animation-block" data-aos="fade" data-aos-delay="0">
                        <!--Services Box Item-->
                        <div class="vlt-services-box vlt-custom--3103" style="background-color:#442e7a;">
                            <div class="vlt-services-box__zigzag" style="background: 0 repeat-x url('data:image/svg+xml;utf-8,%3Csvg%20width%3D%2213px%22%20height%3D%2211px%22%20viewBox%3D%220%200%2018%2015%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cpolygon%20id%3D%22Combined-Shape%22%20fill%3D%22%23fdf4b4%22%20points%3D%228.98762301%200%200%209.12771969%200%2014.519983%209%205.40479869%2018%2014.519983%2018%209.12771969%22%3E%3C%2Fpolygon%3E%3C%2Fsvg%3E');"></div>
                            <h3 class="vlt-services-box__title" style="color:#fff;">
                                <span class="vlt-highlight">Вы́сшее уче́бное заведе́ние</span>
                            </h3>
                            <p class="vlt-services-box__text" style="color:#fff;">
                                Образовательное учреждение, осуществляющее подготовку высококвалифицированных кадров с высшим образованием.
                            </p><a class="vlt-services-box__link" href="service-single.html"><span><i class="leedo-right-arrow"></i></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <!--Animation Block-->
                    <div class="vlt-animation-block" data-aos="fade" data-aos-delay="100">
                        <!--Services Box Item-->
                        <div class="vlt-services-box vlt-custom--3103" style="background-color:#00b5bc;">
                            <div class="vlt-services-box__zigzag" style="background: 0 repeat-x url('data:image/svg+xml;utf-8,%3Csvg%20width%3D%2213px%22%20height%3D%2211px%22%20viewBox%3D%220%200%2018%2015%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cpolygon%20id%3D%22Combined-Shape%22%20fill%3D%22%23fdf4b4%22%20points%3D%228.98762301%200%200%209.12771969%200%2014.519983%209%205.40479869%2018%2014.519983%2018%209.12771969%22%3E%3C%2Fpolygon%3E%3C%2Fsvg%3E');"></div>
                            <h3 class="vlt-services-box__title" style="color:#fff;">
                                <span class="vlt-highlight">Среднее специальное учебное заведение</span>
                            </h3>
                            <p class="vlt-services-box__text" style="color:#fff;">
                                Учебные заведения среднего профессионального образования, где даётся средний уровень профессионального образования и совокупность различных специальностей на базе основного общего и на базе среднего общего образования.
                            </p><a class="vlt-services-box__link" href="service-single.html"><span><i class="leedo-right-arrow"></i></span></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--Process 01-->
    <section>
        <div class="vlt-gap-30 vlt-gap-120--sm"></div>
        <div class="container-fluid p-0">
            <!--Animation Block-->
            <div class="vlt-animation-block" data-aos="fade" data-aos-delay="0">
                <!--Marquee Element-->
                <div class="vlt-marquee d-none d-md-block" data-direction="normal" data-duration="10000" style="margin-bottom: -100px;">
                    <span class="vlt-marquee__item vlt-marquee__item--original">
                        <!--Fit Text--><span class="vlt-fittext" data-comp-rate="0.4" data-min-size="42" data-max-size="300" style="color:#f5f5f5;">начни</span>
                    </span><span class="vlt-marquee__item vlt-marquee__item--copy">
                        <!--Fit Text--><span class="vlt-fittext" data-comp-rate="0.4" data-min-size="42" data-max-size="300" style="color:#f5f5f5;">сейчас</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <!--Animation Block-->
                    <div class="vlt-animation-block" data-aos="fade" data-aos-delay="0">
                        <!--Process Step-->
                        <div class="vlt-process-step">
                            <div class="vlt-process-step__value"><strong>01</strong></div>
                            <div class="vlt-process-step__content">
                                <h4>Список <br> учебных заведений</h4>
                                <p>
                                    Список учебных заведений с удобным поиском.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="vlt-gap-60--sm"></div>
                </div>
                <div class="col-md-4">
                    <!--Animation Block-->
                    <div class="vlt-animation-block" data-aos="fade" data-aos-delay="100">
                        <!--Process Step-->
                        <div class="vlt-process-step">
                            <div class="vlt-process-step__value"><strong>02</strong></div>
                            <div class="vlt-process-step__content">
                                <h4>Найди свою <br>специальность</h4>
                                <p>
                                    Информация о специальностях и направлениях подготовки в вузах.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="vlt-gap-60--sm"></div>
                </div>
                <div class="col-md-4">
                    <!--Animation Block-->
                    <div class="vlt-animation-block" data-aos="fade" data-aos-delay="200">
                        <!--Process Step-->
                        <div class="vlt-process-step">
                            <div class="vlt-process-step__value"><strong>03</strong></div>
                            <div class="vlt-process-step__content">
                                <h4>Статистика <br> по поступлениям</h4>
                                <p>
                                    Статистика по поступлениям за предыдущие года.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vlt-gap-120"></div>
    </section>
    <!--Video 01-->
    <section class="jarallax">
        <img class="jarallax-img" src="~/assets/img/attachment-73.jpg" alt="">
        <div class="jarallax-overlay" style="background-color: rgba(26,26,26,0.1);"></div>
        <div class="vlt-gap-220 vlt-gap-170-md vlt-gap-120--sm"></div>
        <div class="container">
            <div class="text-center">
                <!--Video Link--><a class="vlt-video-link" href="https://youtu.be/OY_0YnAmjG0?si=eJGNUlIFPVo8oTiV" data-fancybox="" data-caption="Теперь всё ПО-ДРУГОМУ! Новые правила поступления в вузы России 2024"><i class="fa fa-play"></i></a>
            </div>
        </div>
        <div class="vlt-gap-220 vlt-gap-170-md vlt-gap-120--sm"></div>
    </section>
    <!--Counter Up 01-->
    <section class="jarallax">
        <img class="jarallax-img" src="~/assets/img/attachment-04.jpg" alt="">
        <div class="vlt-gap-100"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <!--Animation Block-->
                    <div class="vlt-animation-block" data-aos="fade" data-aos-delay="0">
                        <!--Counter Up-->
                        <div class="vlt-counter-up vlt-counter-up--style-1" data-value="452">
                            <div class="vlt-counter-up__icon"><i class="leedo-briefcase"></i></div>
                            <div class="vlt-counter-up__content">
                                <strong>0</strong>
                                <h4 style="color:#fff;">
                                    Вузов
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="vlt-gap-60--sm"></div>
                </div>
                <div class="col-md-4">
                    <!--Animation Block-->
                    <div class="vlt-animation-block" data-aos="fade" data-aos-delay="100">
                        <!--Counter Up-->
                        <div class="vlt-counter-up vlt-counter-up--style-1" data-value="348">
                            <div class="vlt-counter-up__icon"><i class="leedo-heart"></i></div>
                            <div class="vlt-counter-up__content">
                                <strong>0</strong>
                                <h4 style="color:#fff;">
                                    Довольных пользователей
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="vlt-gap-60--sm"></div>
                </div>
                <div class="col-md-4">
                    <!--Animation Block-->
                    <div class="vlt-animation-block" data-aos="fade" data-aos-delay="200">
                        <!--Counter Up-->
                        <div class="vlt-counter-up vlt-counter-up--style-1" data-value="516">
                            <div class="vlt-counter-up__icon"><i class="leedo-star"></i></div>
                            <div class="vlt-counter-up__content">
                                <strong>0</strong>
                                <h4 style="color:#fff;">
                                    Специальностей и программ обучения
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vlt-gap-100"></div>
    </section>
    <!--Our Team 01-->
    <section>
        <div class="vlt-gap-120"></div>
        <div class="container position-relative">
            <!--Particle-->
            <div class="vlt-particle" data-jarallax-element="-100 0" style="top: 150px; left: calc(-160px - 15px); max-width: 250px;"><img src="~/assets/img/root/particle-01--black.png" alt=""></div>
            <!--Particle-->
            <div class="vlt-particle" data-jarallax-element="100 0" style="top: 150px; right: calc(-75px + 15px); max-width: 150px;"><img src="~/assets/img/root/particle-02.png" alt=""></div>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <!--Animation Block-->
                    <div class="vlt-animation-block" data-aos="fade" data-aos-delay="0">
                        <!--Section Title-->
                        <div class="vlt-section-title text-center">
                            <h2>
                                Наша команда.
                            </h2>
                            <p>
                                Мы трудимся изо всех сил, чтобы поиск пути к вашей профессии мечты был максимально легким и интересным.
                            </p>
                        </div>
                    </div>
                    <div class="vlt-gap-70"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <!--Animation Block-->
                    <div class="vlt-animation-block" data-aos="fade" data-aos-delay="0">
                        <!--Team Member-->
                        <div class="vlt-team-member vlt-team-member--style-1">
                            <div class="vlt-team-member__avatar">
                                <img src="~/assets/img/team-01.jpg" alt="">
                            </div>
                            <div class="vlt-team-member__info">
                                <h4>
                                    Маргарита Лейтнер
                                </h4>
                                <p>
                                    Арт директор
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="vlt-gap-60--sm"></div>
                </div>
                <div class="col-md-3">
                    <!--Animation Block-->
                    <div class="vlt-animation-block" data-aos="fade" data-aos-delay="100">
                        <!--Team Member-->
                        <div class="vlt-team-member vlt-team-member--style-1">
                            <div class="vlt-team-member__avatar">
                                <img src="~/assets/img/team-02.jpg" alt="">
                            </div>
                            <div class="vlt-team-member__info">
                                <h4>
                                    Виктор Гарицких
                                </h4>
                                <p>
                                    Дизайнер
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="vlt-gap-60--sm"></div>
                </div>
                <div class="col-md-3">
                    <!--Animation Block-->
                    <div class="vlt-animation-block" data-aos="fade" data-aos-delay="200">
                        <!--Team Member-->
                        <div class="vlt-team-member vlt-team-member--style-1">
                            <div class="vlt-team-member__avatar">
                                <img src="~/assets/img/team-03.jpg" alt="">
                            </div>
                            <div class="vlt-team-member__info">
                                <h4>
                                    Виктория Линдт
                                </h4>
                                <p>
                                    Разработчик
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="vlt-gap-60--sm"></div>
                </div>
                <div class="col-md-3">
                    <!--Animation Block-->
                    <div class="vlt-animation-block" data-aos="fade" data-aos-delay="300">
                        <!--Team Member-->
                        <div class="vlt-team-member vlt-team-member--style-1">
                            <div class="vlt-team-member__avatar">
                                <img src="~/assets/img/team-04.jpg" alt="">
                            </div>
                            <div class="vlt-team-member__info">
                                <h4>
                                    Роберт Навицки
                                </h4>
                                <p>
                                    Главный разработчик
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vlt-gap-120"></div>
    </section>
    <!--Testimonial 01-->
    <section class="position-relative jarallax">
        <img class="jarallax-img" src="~/assets/img/attachment-06.jpg" alt="">
        <div class="jarallax-overlay" style="background-color: rgba(0,183,190,0.9);"></div>
        <div class="vlt-gap-120"></div>
        <div class="container-fluid p-0">
            <!--Testimonial Slider-->
            <div class="vlt-testimonial-slider vlt-testimonial-slider--style-1 vlt-custom--4111" data-dots="true" data-nav="true">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <!--Testimonial Item-->
                        <div class="vlt-testimonial-item vlt-testimonial-item--style-1">
                            <div class="icon" data-swiper-parallax="-420" style="color:#fdf4b4;"><i class="leedo-quote"></i></div>
                            <div class="vlt-testimonial-item__content">
                                <p data-swiper-parallax="-280" style="color:#fff;">
                                    Сайт предоставляет огромное количество информации о различных учебных заведениях, что делает процесс выбора образовательного учреждения быстрым и легким.
                                    Удобный интерфейс позволяет легко фильтровать результаты и сравнивать их, что делает поиск еще более приятным..
                                </p>
                            </div>
                            <div class="vlt-testimonial-item__metas">
                                <h5 class="vlt-display-1" data-swiper-parallax="-140" style="color:#fff;">
                                    Вадим Иразов
                                </h5>
                            </div>
                        </div>
                        <!--Testimonial Item-->
                        <div class="vlt-testimonial-item vlt-testimonial-item--style-1">
                            <div class="icon" data-swiper-parallax="-420" style="color:#fdf4b4;"><i class="leedo-quote"></i></div>
                            <div class="vlt-testimonial-item__content">
                                <p data-swiper-parallax="-280" style="color:#fff;">
                                    Сайт постоянно обновляется и содержит полезную информацию о программах обучения, стоимости обучения, дополнительных услугах и многое другое.
                                    Я всегда могу быть уверен, что информация на сайте актуальна и поможет мне сделать правильный выбор по образованию.
                                </p>
                            </div>
                            <div class="vlt-testimonial-item__metas">
                                <h5 class="vlt-display-1" data-swiper-parallax="-140" style="color:#fff;">
                                    Мария Коршнева
                                </h5>
                            </div>
                        </div>
                        <!--Testimonial Item-->
                        <div class="vlt-testimonial-item vlt-testimonial-item--style-1">
                            <div class="icon" data-swiper-parallax="-420" style="color:#fdf4b4;"><i class="leedo-quote"></i></div>
                            <div class="vlt-testimonial-item__content">
                                <p data-swiper-parallax="-280" style="color:#fff;">
                                    Хочу выразить благодарность за отличный сервис поддержки на сайте поиска учебных заведений. Вопросы были решены быстро и профессионально, что добавило уверенности в моем выборе.
                                    Поддержка оказалась дружелюбной и всегда готовой помочь, что является большим плюсом при таком важном этапе, как поиск образования.
                                </p>
                            </div>
                            <div class="vlt-testimonial-item__metas">
                                <h5 class="vlt-display-1" data-swiper-parallax="-140" style="color:#fff;">
                                    Максим Марков
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="vlt-swiper-button-prev vlt-swiper-button-prev--style-2"><i class="leedo-left-arrow"></i></div>
                    <div class="vlt-swiper-button-next vlt-swiper-button-next--style-2"><i class="leedo-right-arrow"></i></div>
                    <div class="vlt-swiper-pagination vlt-swiper-pagination--style-1"></div>
                </div>
            </div>
        </div>
        <div class="vlt-gap-60"></div>
    </section>
</main>

