@{
    string errorMessage = ViewData["ErrorMessage"] as string;
    string act = ViewData["Page"] as string;
    string controller = ViewData["Controller"] as string;
}
<main class="vlt-main">
    <!--404-->
    <section>
        <!--Particle-->
        <div class="vlt-particle" data-jarallax-element="-100 0" style="top: 40%; left: -100px; max-width: 310px;"><img src="~/assets/img/root/particle-01--black.png" alt=""></div>
        <!--Particle-->
        <div class="vlt-particle" data-jarallax-element="100 0" style="bottom: -150px; right: -150px; max-width: 300px;"><img src="~/assets/img/root/particle-02.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="vlt-page-404"><strong>404</strong>
                        <h1>Страница не найдена</h1>
                        <p>@errorMessage</p>
                        <!--Button--><a class="vlt-btn vlt-btn--primary vlt-btn--lg vlt-btn--effect" asp-controller="@controller" asp-action="@act"><span>На главную</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>